<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<%= link_to 'New Quote', new_note_path %>

<ul id="list_wrapper">
  <% @notes.each do |note| %>
    <li>
      <div class="list_links">
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= button_to "Delete", note, :class =>"delete", :method => "delete" %></td>
      </div>
      <%= note.front_rendered %>
      <%= "- #{note.back}" %>
    </li>
  <% end %>
</ul>
