<h1>
  <%=t '.title', :default => "Words for user #{@user.id} (#{@words.length})" %>
</h1>

<%= link_to "New", new_word_path, :id => "new_button" %>

<ul id="list_wrapper">
  <% @words.each do |word| %>
    <li>
      <div class="list_links">
        <%= button_to "delete", word, :method => "delete" %>
      </div>

    <div class="word_header">
      <%= link_to word.text, word_path(word) %>
    </div>
    <%= word.first_definition %>
    </li>
  <% end %>
</ul>
