<h1><%= @word.text %> ( <%= @word.definitions.length %> )</h1>

<ul id="list_wrapper">
  <% @word.definitions.each do |definition| %>
    <li>
      <div class="list_links">
        <%= link_to "edit", edit_word_definition_path(@word, definition) %>
        <%= button_to "delete", word_definition_path(@word, definition), :method => "delete" %>
      </div>

      <%= definition.text %>
    </li>
  <% end %>
</ul>
