<h1><%= @word.text %> ( <%= @word.definitions.length %> )</h1>

<ul id="list_wrapper">
  <% @word.definitions.each do |definition| %>
    <li>
      <div class="list_links">
        (<%= link_to "edit", edit_word_definition_path(@word, definition) %> |
          <%= link_to("destroy",
                    word_definition_path(@word, definition),
                    :method => :delete,
                    :data => { :confirm => "really?" })

          %>)
      </div>

      <%= definition.text %>
    </li>
  <% end %>
</ul>
